/*-- Use For Custom Styling --*/
body {
}

.btnWide {
	width: 75%;
	margin-top: 15px;
}

.txtWide {
	width: 75%;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.output {
	font-size: 20px;
}
.fixed-menu .navbar-nav .nav-link:hover, .fixed-menu .navbar-nav .nav-link.active {
	color: #1D9A85;
}